body {
    --twitter-color: rgb(231, 225, 225);
    --twitter-background: #306b92;
    
    
    
    
  }
  
  .app {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
  }
